<h1 class="mt-4">Home</h1>
<p class="lead mb-3">Welcome <%= user.name %></p>
<div class="jumbotron">
    <p class="lead mb-3">Welcome to share station</p>
    <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
    <hr class="my-4">
    <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
  </div>

<a href="/Item" class="btn btn-outline-primary btn-block mb-2 ">User Management</a>
<a href="/MyItem" class="btn btn-outline-secondary btn-block mb-2">Item Management</a>
<a href="/users/logout" class="btn btn-outline-danger">Logout</a>
