<h1 class="mt-4">Enterprise Resource Tracking</h1>
<p class="lead mb-3">Welcome <%= user.name %></p>
<div class="jumbotron">
    <p class="lead mb-3">Welcome to ERT</p>
    <p class="lead">TBook/Unbook Items or adjust pick up time through ERT Website with Delivery choice.</p>
    <hr class="my-4">
    
  </div>

<a href="/Item" class="btn btn-outline-primary btn-block mb-2 ">Item</a>
<a href="/MyBooking" class="btn btn-outline-info btn-block mb-2">My Booking</a>
<a href="/users/logout" class="btn btn-outline-danger">Logout</a>
