<h1 class="mt-4">Enterprise Resource Tracking</h1>
<p class="lead mb-3">Welcome <%= user.name %></p>
<div class="jumbotron">
    <p class="lead mb-3">Welcome to ERT</p>
    <p class="lead">Check your delivery orders and change it's state through ERT website.</p>
    <hr class="my-4">
    
  </div>

<a href="/delivery/orders" class="btn btn-outline-primary btn-block mb-2 ">Orders</a>

<a href="/users/logout" class="btn btn-outline-danger">Logout</a>
